.six{
    background-color: #b6b1b1;
    height: 700px;
    width: auto;
    display: flex;
    
}
.five{
    background-color: rebeccapurple;
    width: 38%;
    display: flex;
}
.four{
    background-color: seagreen;
    height:38% ;
    width:100%;
}
.three{
    background-color: skyblue;
    width: 38%;
    height: 100%;
}
.two{
    background-color:maroon;
    height:38% ;
    width:100%;
}
.one{
    background-color:greenyellow;
    width: 38%;
    height: 100%;
}


